.events-calendar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    width: 65%;
    height: 100%;
}

.react-calendar__month-view__weekdays {
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-calendar__navigation {
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: space-evenly;
    justify-items: flex-start;
    align-items: center;
    width: 50%;
}

.react-calendar__navigation__label {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 700;
    font-size: larger;
    flex-grow: 0 !important;
}

.react-calendar__navigation__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    font-weight: 600;
    font-size: larger;
    border: none;
}

.react-calendar__month-view__weekdays {
    display: none !important;
}

.react-calendar__viewContainer {
    height: 100%;
}

.react-calendar__month-view {
    height: 100%;
}

.react-calendar__month-view div {
    height: 100%;
}

.react-calendar__month-view__days {
    height: 100%;
    padding: 1rem;
}

.marked {
    background-color: red;
    border-radius: 50%;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    background-color: #121214;
    border: 0.2rem solid #8d8d99;
    border-radius: 1rem;
    padding: 0.1rem;
    color: #e1e1e6;
    margin: 0.3rem;
}
